<div class="row">
	<div class="col s12">
		<ul class="tabs tabs-fixed-width">
			<li class="tab"><a href="#" onclick="apretaste.send({command:'NOTICIAS'})">Titulares</a></li>
			<li class="tab"><a href="#" class="active">Comentarios</a></li>
			<li class="tab"><a href="#" onclick="apretaste.send({command:'NOTICIAS MEDIOS'})">Medios</a></li>
		</ul>
	</div>
</div>

<% if(isGuest) { %>
	<div class="row">
		<div class="col s12">
			<div class="message notice">
				<i class="fas fa-exclamation-triangle"></i>
				<p>Inicie sesión para comentar</p>
			</div>
		</div>
	</div>
<% } %>

<div class="row">
	<div class="col s12" id="comments">
		<% comments.forEach(function(item) { %>
			<div class="card">
				<div class="card-person grey lighten-5">
					<!-- avatar and username -->
					<div class="person-avatar circle left" face="<%= item.avatar %>" color="<%= item.avatarColor %>" size="30"></div>
					<a href="#!" class="<%= item.gender %> black-text" onclick="apretaste.send({'command':'PERFIL', 'data':{'username':'@<%= item.username %>'}})">@<%= item.username %></a>

					<!-- calendar -->
					<span class="chip tiny clear right"><i class="material-icons icon">perm_contact_calendar</i> <%= moment(item.inserted).format('MMM D, h:mm A') %></span>
				</div>
				<div class="card-content">
					<!-- content -->
					<p><%= item.content %></p>

					<!-- cited article, if exist -->
					<% if(item.id_article) { %>
						<blockquote onclick="apretaste.send({'command':'NOTICIAS HISTORIA', 'data':{'id':'<%= item.id_article %>'}})">
							<!-- cited article's title -->
							<p><%= item.title %></p>

							<!-- cited article's date -->
							<span class="chip tiny grey"><i class="fa fa-calendar"></i> <%= moment(item.pubDate).format('MMM D, YYYY h:mm A') %></span>

							<!-- cited article's author -->
							<% if(item.author != ''){ %>
								<span class="chip tiny grey"><i class="fa fa-user"></i> <%= item.author %></span>
							<% } %>

							<!-- cited article's media -->
							<span class="chip tiny grey"><i class="fa fa-tag"></i> <%= item.mediaCaption %></span>
						</blockquote>
					<% } %>
				</div>
			</div>
		<% }) %>
	</div>
</div>

<!-- COMMENT MODAL -->

<div id="commentModal" class="modal bottom-sheet">
	<input id="username" type="hidden" value="<%= username %>">
	<input id="gender" type="hidden" value="<%= gender %>">
	<input id="avatar" type="hidden" value="<%= avatar %>">
	<input id="avatarColor" type="hidden" value="<%= avatarColor %>">

	<div class="modal-content">
		<div class="input-field">
			<textarea id="comment" class="materialize-textarea" maxlength="250"></textarea>
			<label for="comment">¿En qué piensas?</label>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-close waves-effect btn-flat">Cerrar</a>
		<a href="#!" class="modal-close waves-effect green-text btn-flat" onclick="comment()">Comentar</a>
	</div>
</div>

<!-- BUTTONS -->

<% if(!isGuest) { %>
	<div class="bottom-space"></div>

	<div class="fixed-action-btn">
		<a class="btn-floating btn-large waves-effect waves-light modal-trigger green" href="#commentModal">
			<i class="material-icons">comment</i>
		</a>
	</div>
<% } %>
