<% if (isGuest){ %>
    <div class="col s12 red-text center-align" style="margin-top: 1rem; font-weight: 500">Inicie sesión para comentar
    </div>
<% } %>

<div class="col s12" id="comments">
    <% comments.forEach(function (comment) { %>
        <div class="card">
            <div class="card-person grey lighten-5">
                <div class="person-avatar circle left" face="<%= comment.avatar %>" color="<%= comment.avatarColor %>"
                     size="30"></div>
                <a href="#!" class="<%= comment.gender %>"
                   onclick="openProfile('<%= comment.username %>')">@<%= comment.username %></a>

                <div class="right">
                    <i class="material-icons ultra-tiny">calendar_today</i> <%= moment(comment.inserted).format('MMM D, h:mm A') %>
                </div>
            </div>
            <div class="card-content" style="padding: 0.75rem">
                <p><%= comment.content %></p>

                <% if(comment.id_article) { %>
                    <blockquote style="margin: 0.5rem 0"
                                onclick="apretaste.send({'command': 'NOTICIAS HISTORIA', 'data':{'id': '<%= comment.id_article %>'}})">
                        <span><%= comment.title %></span><br>
                        <span>
                            <span class="chip tiny grey lighten-1">
                                <i class="material-icons tiny">calendar_today</i>
                                <%= moment(comment.pubDate).format('MMM D, YYYY h:mm A') %>
                            </span>

                            <% if(comment.author != ''){ %>
                                <span class="chip tiny grey lighten-1">
                                <i class="material-icons tiny">person</i>
                                <%= comment.author %>
                            </span>
                            <% } %>

                            <span class="chip tiny grey lighten-1">
                                <i class="material-icons tiny">local_offer</i>
                                <%= comment.mediaCaption %>
                            </span>
                        </span>
                    </blockquote>
                <% } %>
            </div>
        </div>
    <% }) %>
</div>

<% if(!isGuest) { %>
    <div id="writeModal" class="container" status="closed" style="display: none;">
        <div class="row">
            <i class="material-icons small" onclick="toggleWriteModal()">close</i>
            <div class="col s12">
            <textarea id="comment" class="materialize-textarea" maxlength="250"
                      placeholder="¿En qué piensas?"></textarea>
            </div>

            <div class="actions">
                <i class="material-icons small right" onclick="sendComment()">send</i>
            </div>
        </div>
    </div>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large green" onclick="toggleWriteModal()">
            <i class="large material-icons">comment</i>
        </a>
    </div>
<% } %>
