<div class="row">
	<div class="col s12">
		<% if(preferredMedia.length == 0){ %>
			<div class="message danger">
				<i class="fas fa-exclamation-triangle"></i>
				<p>Para ver las noticias, primero escoge uno o varios medios de prensa</p>
			</div>
		<% } %>

		<% availableMedia.forEach(function(item){ %>
			<div class="card" onclick="checkMedia('<%= item.id %>')">
				<div class="card-person grey lighten-5">
					<label class="media-checker">
						<input type="checkbox" <%= preferredMedia.indexOf(item.id) != -1 ? 'checked' : '' %> id="<%= item.id %>" onchange="togglePreferredMedia(this)"/>
						<span onclick="checkMedia('<%= item.id %>')"></span>
					</label>
					<span class="chip medium clear"><i class="fas fa-tag"></i> <%= mediaTypes[item.type] %></span>
				</div>
				<div class="card-content">
					<img class="image left" src="{{APP_SERVICE_PATH}}/images/<%= item.logo %>">
					<span class="card-title"><%= item.caption %></span>
					<p><%= item.description %></p>
				</div>
			</div>
		<% }); %>
	</div>
</div>

<div class="bottom-space"></div>

<div class="fixed-action-btn">
	<a class="btn-floating btn-large waves-effect waves-light green" onclick="savePreferredMedia()">
		<i class="material-icons">check</i>
	</a>
</div>