<div class="row">
	<div class="col s12" id="article">
		<h1><%= title %></h1>

		<% if(image != null){ %>
			<div class="article-image"
				 style="background-image: url('{{APP_IMAGE_PATH}}<%= image %>');">
			</div>
			<p class="pic-note"> <%= imageCaption %> </p>
		<% } %>

		<% if(description.trim().substr(0, 100) != content.split("\\n\\n")[0].substr(0, 100)) { %>
			<blockquote><%= description %></blockquote>
		<% } %>

		<section>
			<% content.split("\\n\\n").forEach(function(paragraph){ %>
				<p><%= paragraph %></p>
			<% }) %>
		</section>

		<ul class="collection one-line">
			<% if(author != ''){ %>
				<li class="collection-item avatar">
					<i class="tiny material-icons circle">person</i>
					<span class="title"><%= author %></span>
					<p class="blue-grey-text">Autor</p>
				</li>
			<% } %>

			<li class="collection-item avatar">
				<i class="far fa-newspaper circle"></i>
				<span class="title"><%= moment(pubDate).format('MMM D, YYYY h:mm A') %></span>
				<p class="blue-grey-text">Fecha de publicación</p>
			</li>
			<li class="collection-item avatar">
				<i class="far fa-newspaper circle"></i>
				<span class="title"><%= source %></span>
				<p class="blue-grey-text">Medio de prensa</p>
				<a onclick="apretaste.send({command: 'noticias', data: {search: {media: media_id}}})" class="secondary-content">
					<i class="material-icons">arrow_forward</i>
				</a>
			</li>

			<% if(typeof categoryCaption != "undefined" && categoryCaption != null){ %>
				<li class="collection-item avatar">
					<i class="fas fa-tag circle"></i>
					<span class="title">Política</span>
					<p class="blue-grey-text">Categoría</p>
					<a onclick="apretaste.send({command: 'noticias', data: {search: {category: category_id}}})" class="secondary-content"><i class="material-icons">arrow_forward</i></a>
				</li>
			<% } %>
		</ul>
	</div>
</div>

<!-- SIMILAR -->

<div class="row">
	<% similars.forEach(function (similar) { %>
		<div class="col s6 similar" onclick="apretaste.send({command: 'noticias historia', data: {id: '<%= similar.id %>'}})">
			<div class="card user-card">
				<div class="content">
					<p class="related-title"><%= similar.title %></p>
					<% similar.tags.forEach(function (similarTag) { %>
						<span class="chip tiny"><%= similarTag %></span>
					<% }) %>
				</div>
			</div>
		</div>
	<% }) %>
</div>

<!-- COMMENTS -->

<div class="row">
	<div class="col s12">
		<span class="left valign-wrapper" style="font-weight: 500">
			<i class="material-icons tiny">comment</i>&nbsp;
			<span id="commentsCounter"><%= comments.length %></span>&nbsp;Comentarios
		</span>

		<span class="right">
			<i class="material-icons" onclick="apretaste.send({'command': 'NOTICIAS HISTORIA', 'data':{'id': '<%= id %>', 'ts': Date.now()}})">autorenew</i>
		</span>

		<br>

		<ul class="chat" id="comments">
			<% comments.forEach(function(comment) { %>
				<li class="<%= comment.position %>" id="<%= comment.id %>">
					<div class="person-avatar circle" face="<%= comment.avatar %>" color="<%= comment.avatarColor %>"
						 size="30" onclick="openProfile('<%= comment.username %>')"></div>
					<div class="head">
						<a onclick="openProfile('<%= comment.username %>')"
						   class="<%= comment.gender %>">@<%= comment.username %></a>
						<span class="date"><%= moment(comment.inserted).format('MMM D, YYYY h:mm A') %></span>
					</div>
					<span class="text"><%= comment.content %></span>
				</li>
			<% }) %>
		</ul>

		<% if(comments.length == 0 && !isGuest) { %>
			<div id="no-comments">Sé el primero en comentar</div>
		<% } %>
	</div>

	<% if (isGuest){ %>
		<div class="col s12 red-text" style="font-weight: 500">Inicie sesión para comentar</div>
	<% } %>

	<% if(!isGuest) { %>
		<div id="writeModal" class="container" status="closed" style="display: none;">
			<div class="row">
				<i class="material-icons small" onclick="toggleWriteModal()">close</i>

				<div class="col s12">
					<textarea id="comment" class="materialize-textarea" maxlength="250" placeholder="¿En qué piensas?"></textarea>
				</div>

				<div class="actions">
					<i class="material-icons small right" onclick="sendComment()">send</i>
				</div>
			</div>
		</div>
	<% } %>
</div>

<!-- BUTTONS -->

<div class="bottom-space"></div>

<div class="fixed-action-btn">
	<% if(isGuest) { %>
		<a class="btn-floating btn-large waves-effect waves-light green" onclick="apretaste.back()">
			<i class="material-icons">arrow_back</i>
		</a>
	<% } else { %>
		<a class="btn-floating waves-effect waves-light grey third modal-trigger" href="#shareModal">
			<i class="material-icons">share</i>
		</a>
		<a class="btn-floating waves-effect waves-light grey second" onclick="apretaste.back()">
			<i class="material-icons">arrow_back</i>
		</a>
		<a class="btn-floating btn-large waves-effect waves-light modal-trigger green" onclick="toggleWriteModal()">
			<i class="material-icons">comment</i>
		</a>
	<% } %>
</div>

<!-- SHARE MODAL -->

<% init(id, title) %>
<div id="shareModal" class="modal">
	<div class="modal-content">
		<div class="input-field">
			<textarea id="message" class="materialize-textarea"></textarea>
			<label for="message">Escriba un texto para compartir</label>
		</div>
		<ul class="collection one-line preview">
			<li class="collection-item avatar">
				<i class="fas fa-<%= share.icon %> material-icons circle"></i>
				<span class="title"><%= share.text %></span>
			</li>
		</ul>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-close waves-effect waves-light btn-flat">Cerrar</a>
		<a onclick="share.send()" class="modal-close waves-effect waves-green green-text btn-flat">Enviar</a>
	</div>
</div>
