<div class="col s12" id="articles">
    <% if(articles.length == 0){ %>
        <p class="middle-center center grey-text">No hemos encontrado articulos con tus parámetros de búsqueda.</p>
    <% } %>

    <% searchTags.forEach(function (tag) { %>
        <span class="chip tiny"><%= tag %></span>
    <% }) %>

    <% articles.forEach(function (article) { %>
        <div class="card"
             onclick="apretaste.send({'command': 'NOTICIAS HISTORIA', 'data':{'id': '<%= article.id %>'}})">

            <% if(article.image != null){
                var src = "{{APP_IMAGE_PATH}}/" + article.image;
                if (article.image == "no-image.png") src = "{{APP_SERVICE_PATH}}/images/no-image.png"
            %>
            <div class="card-image waves-effect waves-block waves-light">
                <img src="<%= src %>">
            </div>
            <% } %>

            <div class="card-content">
                <span class="card-title grey-text text-darken-4"><%= article.title %></span>

                <% if(article.author != ''){ %>
                    <span class="chip tiny grey lighten-1">
                    <i class="far fa-user"></i>
                    <%= article.author %>
                </span>
                <% } %>
                <span class="chip tiny grey lighten-1">
                    <i class="far fa-newspaper"></i>
                    <%= article.mediaCaption %>
                </span>
                <span class="chip tiny grey lighten-1">
                    <i class="far fa-comments"></i>
                    <%= article.comments %>
                </span>
                <span class="chip tiny grey lighten-1">
                    <i class="far fa-calendar"></i>
                    <%= moment(article.pubDate).format('MMM D, YYYY h:mm A') %>
                </span>

                <% article.tags.forEach(function (tag) { %>
                    <span class="chip tiny"><%= tag %></span>
                <% }) %>
            </div>
        </div>
    <% }) %>

    <!-- PAGINATION -->
    <% if(pages > 1) { %>
        <div class="row">
            <div class="col s12 center-align">
                <ul class="pagination">
                    <% if(page > 1){ %>
                        <li class="waves-effect">
                            <a onclick="apretaste.send({command: 'noticias', data: {page: page-1}})">
                                <i class="material-icons">chevron_left</i>
                            </a>
                        </li>
                    <% } %>
                    <li class="waves-effect"><%= page %> / <%= pages %></li>
                    <% if(page < pages){ %>
                        <li class="waves-effect">
                            <a onclick="apretaste.send({command: 'noticias', data: {page: page+1}})">
                                <i class="material-icons">chevron_right</i>
                            </a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    <% } %>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large green" onclick="toggleSearchModal()">
            <i class="large material-icons">search</i>
        </a>
    </div>
</div>

<div id="searchModal" class="container" status="closed" style="display: none;">
    <div class="row">
        <div class="col s12">
            <h3>Buscar</h3>
            <div class="input-field">
                <input id="title" type="text">
                <label for="title">Titular</label>
            </div>

            <div class="input-field">
                <select id="type" onchange="filterMedia(value)">
                    <option value="all" selected>Todos</option>
                    <% Object.keys(mediaTypes).forEach(function(key){ %>
                        <option value="<%= key %>"><%= mediaTypes[key] %></option>
                    <% }) %>
                </select>
                <label for="type">Categoría</label>
            </div>

            <div class="input-field">
                <select id="media">
                    <option value="all" selected>Todos</option>
                    <% availableMedia.forEach(function(media){ %>
                        <option value="<%= media.id %>"><%= media.caption %></option>
                    <% }) %>
                </select>
                <label for="media">Medio de Prensa</label>
            </div>

            <div class="input-field">
                <input id="minComments" type="number">
                <label for="minComments">Comentarios mínimos</label>
            </div>

            <div class="input-field">
                <input id="maxDate" type="text" class="datepicker">
                <label for="maxDate">Publicado antes de</label>
            </div>

            <div class="input-field">
                <input id="minDate" type="text" class="datepicker">
                <label for="minDate">Publicado después de</label>
            </div>

            <a class="waves-effect waves-light btn" onclick="searchArticles()">
                <i class="material-icons left">search</i>
                Buscar
            </a>
        </div>

        <div class="actions">
            <a class="btn-floating btn-large right" onclick="toggleSearchModal()">
                <i class="large material-icons">arrow_back</i>
            </a>
        </div>
    </div>
</div>
