<div class="row">
	<div class="col s12">
		<ul class="tabs tabs-fixed-width">
			<li class="tab"><a href="#" onclick="apretaste.send({command:'NOTICIAS'})" class="active">Titulares</a></li>
			<li class="tab"><a href="#" onclick="apretaste.send({command:'NOTICIAS COMENTARIOS'})">Comentarios</a></li>
			<li class="tab"><a href="#" onclick="apretaste.send({command:'NOTICIAS MEDIOS'})">Medios</a></li>
		</ul>
	</div>
</div>

<div class="row">
	<!-- SEARCH TAGS -->
	<% if(searchTags.length > 0) { %>
		<div class="col s12">
			<div class="tags">
				<% searchTags.forEach(function (tag) { %>
					<span class="chip tiny"> <%= tag %></span>
				<% }) %>
			</div>
		</div>
	<% } %>

	<!-- ARTICLES -->
	<div class="col s12">
		<% if(articles.length == 0) { %>
			<p class="middle-center center grey-text">No hemos encontrado ninguna noticia para mostrarte.</p>
		<% } else { %>
			<% articles.forEach(function (item) { %>
				<div class="card">
					<!-- image -->
					<% if(item.image) { %>
						<div class="card-image waves-effect waves-block waves-light" onclick="openStory('<%= item.id %>')">
							<img src="{{APP_IMAGE_PATH}}/<%= item.image %>">
						</div>
					<% } %>

					<div class="card-content">
						<!-- title -->
						<span class="card-title grey-text text-darken-4" onclick="openStory('<%= item.id %>')">
							<%- item.title %>
						</span>

						<!-- author -->
						<% if(item.author != '') { %>
							<span class="chip tiny grey lighten-1">
								<i class="far fa-user"></i> <%= item.author %>
							</span>
						<% } %>

						<!-- media -->
						<span class="chip tiny grey lighten-1" onclick="searchByMedia('<%= item.media_id %>')">
							<i class="far fa-newspaper"></i> <%= item.mediaCaption %>
						</span>

						<!-- number of comments -->
						<span class="chip tiny grey lighten-1">
							<i class="far fa-comments"></i> <%= item.comments %>
						</span>

						<!-- publication date -->
						<span class="chip tiny grey lighten-1" onclick="searchByPubDate('<%= item.pubDate %>')">
							<i class="far fa-calendar"></i> <%= moment(item.pubDate).format('MMM D, YYYY h:mm A') %>
						</span>

						<!-- tags -->
						<% item.tags.forEach(function (tag) { %>
							<span class="chip tiny" onclick="searchByTag('<%= tag %>')"><%= tag %></span>
						<% }) %>
					</div>
				</div>
			<% }) %>
		<% } %>
	</div>
</div>

<!-- PAGINATION -->

<% if(pages > 1) { %>
	<div class="row">
		<div class="col s12 center-align">
			<ul class="pagination">
				<% if(page > 1){ %>
					<li class="waves-effect">
						<a onclick="apretaste.send({command: 'NOTICIAS', data:{page: page-1}})">
							<i class="material-icons">chevron_left</i>
						</a>
					</li>
				<% } %>
				<li class="waves-effect"><%= page %> / <%= pages %></li>
				<% if(page < pages){ %>
					<li class="waves-effect">
						<a onclick="apretaste.send({command: 'NOTICIAS', data:{page: page+1}})">
							<i class="material-icons">chevron_right</i>
						</a>
					</li>
				<% } %>
			</ul>
		</div>
	</div>
<% } %>

<!-- BUTTONS -->

<div class="bottom-space"></div>

<div class="fixed-action-btn">
	<a class="btn-floating btn-large green" href="#!" onclick="apretaste.send({command:'NOTICIAS BUSCAR'})">
		<i class="large material-icons">search</i>
	</a>
</div>
